body {
    background-color: chocolate;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    /* align-items: space-between;
    align-content: space-between; */
}

img {
    align-self: center;
    width: 20vw;
    margin: 20px;
    border-radius: 10px;
    border: 2px solid beige;
}