/* * {
    border: 2px solid green;
    padding: 2px;
}*/
body { 
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a {
    color: cornflowerblue;
}
.one {
    display: flex;
    background-color: black;
    flex-direction: column;
    color: white;
    position: relative;
    /* height: 700px; */
}
.videoMsg {
    position: absolute;
    top: 0;
    left: 0;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;   
}
#video1 {
    height: 100%;
}
.oneA {
    width: 70vw;
    align-self: center;   
    margin-top: 50px;
    position: absolute;
}
.header {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
.oneHeading {
    font-size: 48px;
    font-weight: bolder;
}
ul {
    display: flex;
    list-style: none;
    margin: 0;
    gap: 20px;
}
.oneB {
    display: flex;
    flex-wrap: wrap;
    width: 70vw;
    align-self: center;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 40px;
}
.oneB img {
    border-radius: 10px;
    border: 2px solid beige;
    height: 240px; 
    opacity: 1;  
}
.oneBText {
   display: flex;
   flex-direction: column;
   gap: 15px;
   max-width: 250px;
   font-size: 20px;
}
button {
    width: 100px;
    height: 30px;
    border-radius: 8px;
}
.two {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}
.someImages {
    display: flex;
    flex-direction: row;
    gap: 30px;   
}
.twoText {
    width: 150px;
    text-align: center;
    
}
h2 {
    font-size: 40px;
}
.labeledImg img {
    border-radius: 8px;
    border: 4px solid black;
    height: 90px;
}
.three {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
    padding: 70px;
    font-size: 30px;
    text-align: center;
    font-style: italic;
}
.threeA {
    width: 600px;
    display: flex;
    flex-direction: column;
}
.threeB {
    font-weight: 900;
    align-self: flex-end;
}
.four {
    display: flex;
    justify-content: center;
    padding: 100px;
    color: white;
}
.fourOne {
    background-color: cornflowerblue;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px;  
    width: 800px;
}
.fourOneA {
    display: flex;
    flex-direction: column;
}

.footer{
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    padding: 20px;
}














