/* * {
    border: 2px solid green;
    padding: 2px;
} */
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.one {
    display: flex;
    background-color: black;
    flex-direction: column;
    color: beige;
}
.oneA {
    width: 70vw;
    align-self: center;   
    margin-top: 20px;
}
.header {
    display: flex;
    justify-content: space-between;
}
.oneHeading {
    font-size: 48px;
    font-weight: bolder;
}
ul {
    display: flex;
    list-style: none;
    margin: 0;
    gap: 20px;
}
.oneB {
    display: flex;
    width: 70vw;
    align-self: center;
    /* justify-content: space-between; */
    gap: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
}
img {
    border-radius: 10px;
    border: 2px solid beige;
}
.oneBText {
   display: flex;
   flex-direction: column;
   gap: 15px;
}
button {
    width: 100px;
    height: 30px;
    border-radius: 8px;
}






