/* * {
    border: 2px solid green;
    padding: 2px;
} */
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.one {
    display: flex;
    background-color: #1f2937;
    flex-direction: column;
    color: beige;
}
.oneA {
    width: 70vw;
    align-self: center;   
    margin-top: 20px;
}
.header {
    display: flex;
    justify-content: space-between;
}
.oneHeading {
    font-size: 48px;
    font-weight: bolder;
}
ul {
    display: flex;
    list-style: none;
    margin: 0;
    gap: 20px;
}
.oneB {
    display: flex;
    flex-wrap: wrap;
    width: 70vw;
    align-self: center;
    /* justify-content: space-between; */
    /* gap: 50px; */
    justify-content: space-between;
    /* align-content: space-between; */
    margin-top: 40px;
    margin-bottom: 40px;
}
.oneB img {
    border-radius: 10px;
    border: 2px solid green;
    height: 300px;   
}
.oneBText {
   display: flex;
   flex-direction: column;
   gap: 15px;
   max-width: 250px;
}
button {
    width: 100px;
    height: 30px;
    border-radius: 8px;
}
.two {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.someImages {
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    gap: 30px;
    
}

.twoText {
    width: 150px;
    text-align: center;
}
h2 {
    font-size: 40px;
}
.labeledImg img {
    border-radius: 8px;
    border: 2px solid green;
    height: 90px;
}









